
.scene {
    width: 250px;
    height: 330px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: #808080;
  }
  
  .card__face--back {
    background: #990000;
    transform: rotateY(180deg);
  }

  .card_menu_bottom {
    position : absolute;
    bottom   : 0;
  }

  .field_with_errors{
    border-color: #900;
    border-style: solid;
  }

  